.hh-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.hh-button--primary {
  color: white;
  background-color: #1976d2;
  &:hover {
    background-color: #1565c0;
  }
}
.hh-button--secondary {
  color: #323131;
  background-color: transparent;
  &:hover {
    background-color: #f4f4f4;
  }
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.hh-btn--is-icon-btn {
  min-width: unset;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hh-button--micro {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  min-width: 52px;
}

.hh-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.hh-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.hh-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
